.mah{
    color: grey;
    font-family: "Lora", serif;
    font-size: 0.8em;
}

.mayear{
    color:grey;
    font-size: 3em;
    font-family: "Lora", serif;
}

.mash{
    font-family: "Lora", serif;
}

.madetails{
    color: grey;
    font-family: "Lora", serif;
    font-weight:bold;
    font-style: normal;
    font-size: medium;
}

